/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel
bootstrap/compiled.php
app/storage/

# Storage
public/storage
public/hot
storage/*.key

# Environment
.env
.env.backup
.env.production

# Laravel
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Build
/public/build
/storage/pail

# PHP tools
.phpactor.json
auth.json

# IDE
/.idea
/.vscode